@import 'styles/colors';
@import 'styles/mixin';

.ageContainer {

	width: 100%;
    height: 100vh;
    position: absolute;
    background: #9e9e9e57;
    top: 0;
    left: 0;
	display: flex;
	justify-content: center;

	.modalBody {
		margin-top: 170px;
		background: white;
		width: 900px;
		height: 200px;
		padding: 10px;
		border-radius: 2px;
		margin-left: 10px;
		margin-right: 10px;
		@include shadom-1;

		@include for-640 {
			width: 100%;

		}

		@include for-430 {
			height: 300px;
		}

		.modalHeader {
			display: flex;
			justify-content: space-between;
			align-items: center;
			h2{
				font-size: 15px;
				color: $secondary;
			}
			button {
				border: none;
				color: $dark;
				background: transparent;
				cursor: pointer;
			}
		}

		.inputsArea {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: auto;

			span {
				margin: 10px  10px 0px 10px;
				font-size: 15px;
				font-weight: 500;
			}

			div {
				width:  50%;
				input {
					@include inputStyle
				};

				@include for-430 {
					width:  100%;
				}
			}

			@include for-430 {
				flex-direction: column;
			}
		}

		.actionModal {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px 0;
			button {
				@include primaryButton;
			}
		}
	}
}