@mixin for-1220 {
    @media (max-width: 1220px) {
        @content;
    }
}

@mixin for-430 {
    @media (max-width: 430px) {
        @content;
    }
}

@mixin for-540 {
    @media (max-width: 540px) {
        @content;
    }
}

@mixin for-575 {
    @media (max-width:575px) {
        @content;
    }
}

@mixin for-640 {
    @media (max-width: 640px) {
        @content;
    }
}

@mixin inputStyle {
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #d8d8d8;
	border-radius: 2px;
		
}

@mixin primaryButton {
	cursor: pointer;
	text-transform: uppercase;
	color: white;
	width: 100%;
	background-color: $primary;
	border: none;
	padding: 5px;
}

@mixin shadom-1 {
	box-shadow: -3px 9px 13px -8px rgba(0,0,0,0.75);
}

@mixin shadom-2 {
	box-shadow: -8px 9px 6px -10px rgb(0 0 0 / 75%);
}

@mixin shadom-3 {
	box-shadow: -2px 4px 10px -7px rgb(0 0 0 / 75%)
}